* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --header-bg: #fff;
  --font-color: #000;
}
/* ========================================Common============================================ */
.container {
  width: 1440px;
  /* Cách mỗi bên lề 24px */
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.container2 {
  width: 1236px;
  /* Cách mỗi bên lề 24px */
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  /* được sử dụng để loại bỏ các hiệu ứng trang trí của văn bản. Khi áp dụng thuộc tính này, 
  các trang trí mặc định như gạch chân, gạch ngang, hoặc gạch chân kép trên văn bản sẽ bị loại bỏ. */
  text-decoration: none;
}

/* ========================================Header============================================ */
.header {
  /* background: var(--header-bg); */
  background: blanchedalmond;
  padding: 30px;
  font-size: 1.6rem;
  font-weight: 600;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 40px;
  text-align: center;
  border-radius: 999px;
  color: #ffb100;
  background: #006493;
  cursor: pointer;
}
.btn:hover {
  color: #006493;
  background: #ffb100;
  border: 2px solid #006493;
}
.header-logo {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: 68px;
}
.header-logo .logo {
  width: 38px;
  height: 34px;
  object-fit: cover;
}
.header-top {
  display: flex;
  justify-content: space-between;
  background: var(--header-bg);
  height: 100px;
  align-items: center;
}

.navbar__list {
  display: flex;
}
.navbar__link {
  padding: 8px 21px;
  font-style: normal;
  /* 28px - 175% */
  line-height: 1.75;
  color: var(--font-color);
}
.header__action--login {
  margin-right: 68px;
}
/* ========================================Hero============================================ */
.hero {
  display: flex;
  width: 1060px;
  height: 703px;
  justify-content: center;
  align-items: center;
}
.hero-img {
  width: 530px;
  object-fit: cover;
}
.hero-right {
  border: 1px solid #000;
}
.hero-login {
  margin-top: 140px;
  margin-left: 102px;
  margin-right: 82px;
  height: 702 px;
  width: 337px;
  border: 1px solid var(--font-color);
  display: flex;
  flex-direction: column; /* Sắp xếp các phần tử theo cột */
  align-items: center; /* Căn giữa theo chiều ngang */
  justify-content: center; /* Căn giữa theo chiều dọc */
  height: 150px; /* Chiều cao của khung chứa, có thể điều chỉnh */
}
