* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --header-bg: #fff;
  --font-color: #000;
}
/* ========================================Common============================================ */
.container {
  width: 1440px;
  /* Cách mỗi bên lề 24px */
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.container2 {
  width: 1236px;
  /* Cách mỗi bên lề 24px */
  max-width: calc(100% - 48px);
  margin: 0 auto;
  padding-top: 8px;
}
a {
  /* được sử dụng để loại bỏ các hiệu ứng trang trí của văn bản. Khi áp dụng thuộc tính này, 
  các trang trí mặc định như gạch chân, gạch ngang, hoặc gạch chân kép trên văn bản sẽ bị loại bỏ. */
  text-decoration: none;
}
/* =========================================================================================================index=================================================================================================== */
/* ========================================Header============================================ */
.header {
  background: var(--header-bg);
  /* background: blanchedalmond; */
  padding: 10px;
  font-size: 1.8rem;
  font-weight: 600;
  z-index: 1;
  position: sticky;
  top: -28px;
}
.company {
  font-size: 3.2rem;
  color: #006493;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 40px;
  text-align: center;
  border-radius: 999px;
  color: #ffb100;
  background: #006493;
  cursor: pointer;
}
.btn:hover {
  color: #006493;
  background: #ffb100;
  border: 2px solid #006493;
}
.header-logo {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: 68px;
}
.header-logo .logo {
  width: 38px;
  height: 34px;
  object-fit: cover;
}
.header-top {
  display: flex;
  justify-content: space-between;
  background: var(--header-bg);
  height: 100px;
  align-items: center;
}

.navbar__list {
  display: flex;
}
.navbar__item {
  margin-right: 57px;
}
.navbar__item:hover {
  text-shadow: 0.5px 0 0 currentColor;
}
.navbar__link {
  padding: 8px 21px;
  font-style: normal;
  /* 28px - 175% */
  line-height: 1.75;
  color: var(--font-color);
}
.header__action--login {
  margin-right: 68px;
}
/* ========================================Hero============================================ */
.hero {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  height: 703px;
  /* justify-content: center; */
  /* align-items: center; */
  border: 1px solid var(--font-color);
  margin: 0 auto;
  position: relative;
}
.hero__left--img {
  width: 530px;
  height: 701px;
  object-fit: cover;
}
.hero__center--line {
  width: 1px; /* Độ rộng của đường thẳng */
  height: 100%; /* Chiều cao theo khối cha */
  background-color: var(--font-color); /* Màu của đường thẳng */
}
.hero-right {
  /* border: 1px solid var(--font-color); */
  width: 530px;
  height: 702px;
}
.hero-login {
  margin: 140px 82px 0 102px;
  height: 702px;
  width: 337px;
  /* border: 1px solid var(--font-color); */
  display: flex;
  flex-direction: column; /* Sắp xếp các phần tử theo cột */
  height: 150px; /* Chiều cao của khung chứa, có thể điều chỉnh */
  background: #fff;
}
.hero__title {
  line-height: 1.6;
}
.hero__tile--heading {
  font-weight: 700;
  color: #006493;
  font-size: 3.2rem;
}
.username {
  margin-top: 20px;
  font-weight: 500;
}
.hero__write--user input {
  font-size: 1.6rem;
  width: 343px;
  height: 37px;
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid var(--font-color);
}

.password {
  margin-top: 20px;
  font-weight: 500;
}
.hero__write--password input {
  font-size: 1.6rem;
  width: 343px;
  height: 37px;
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid var(--font-color);
}
.hero__login--btn {
  padding-top: 20px;
  font-weight: 500;
}
.hero__media--line {
  object-fit: cover;
  width: 527px;
  position: absolute;
  bottom: -10px; /* Căn sát mép dưới của khối cha */
  box-sizing: border-box;
}
/* ========================================footer============================================ */
.footer {
  padding-top: 20px;
}
.footer__des {
  display: flex;
  height: 51px;
  background: #006493;
  color: #fff;
  align-items: center;
}
.address__des {
  margin-left: 88px;
}
.tel__des {
  margin-left: 55px;
}
.email__des {
  margin-left: 55px;
}

/* =========================================================================================================kpi_cbcc=================================================================================================== */
